SECRET_KEY=fake
TWILIO_ACCOUNT_ID=fake
TWILIO_TOKEN=fake
TWILIO_NUMBER=fake
OPENAI_API_KEY=fake
PIN_CODE_FILE="revolvingcode.txt"

POSTGRES_PASSWORD=raspberry
POSTGRES_DB=forkpi
POSTGRES_USER=postgres

# For PG
# DATABASE_URL=postgres://postgres:raspberry@db/forkpi
